<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenable_pickup_payment_restriction>
            <general>
                <enabled>0</enabled>
                <payment_methods></payment_methods>
            </general>
        </magenable_pickup_payment_restriction>
    </default>
</config>
